*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
captures
.externalNativeBuild
.cxx
local.properties

# Never ignore Gradle wrapper files
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
